<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Forms">
          <forms name="auth_cookie" loginUrl="Pages/Login.aspx" protection="Encryption"  />
      </authentication>

      <authorization>
          <deny users="?" />
      </authorization>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <!--<add name="CadenaConexion" connectionString="Data Source=CLUSTERSQL\SIIGMX;Initial Catalog=PRODUCCION;User ID=sise;Password=sistran" />-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=PRD_091215;User ID=desarrollo10;Password=.dev2016"/>-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=UAT;User ID=desarrollo10;Password=.dev2016"/>-->
    <add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=DESA;User ID=desarrollo10;Password=.dev2016"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrdenPago" maxBufferSize="600000000"
          maxReceivedMessageSize="600000000" />
        <binding name="BasicHttpBinding_IGenerales" maxBufferSize="600000000"
          maxReceivedMessageSize="600000000" />
        <binding name="BasicHttpBinding_IOrdenPago1" maxBufferSize="600000000"
          maxReceivedMessageSize="600000000" />
        <binding name="BasicHttpBinding_IRecSiniestros" maxBufferSize="600000000"
          maxReceivedMessageSize="600000000" />
        <binding name="BasicHttpBinding_IFirmasDigital" maxBufferSize="600000000"
          maxReceivedMessageSize="600000000" />
        <binding name="BasicHttpBinding_IReporteador" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://siigmxapp02/WS_GMX/Generales/Generales.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerales"
        contract="ws_Generales.IGenerales" name="BasicHttpBinding_IGenerales" />
      <endpoint address="http://siigmxapp02/WS_GMX/Reaseguro/OrdenPago/OrdenPago.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenPago1"
        contract="ws_OrdenPago.IOrdenPago" name="BasicHttpBinding_IOrdenPago" />
      <endpoint address="http://siigmxapp02/WS_GMX/Reaseguro/Recordatorios/Siniestros/RecSiniestros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecSiniestros"
        contract="ws_RecSiniestros.IRecSiniestros" name="BasicHttpBinding_IRecSiniestros" />
      <endpoint address="http://siigmxapp02/WS_GMX/Reaseguro/FirmasDigital/FirmasDigital.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirmasDigital"
        contract="ws_FirmaDigital.IFirmasDigital" name="BasicHttpBinding_IFirmasDigital" />
      <endpoint address="http://siigmxapp02/WS_GMX/Reaseguro/Reporteador/Reporteador.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporteador"
        contract="ws_Reporteador.IReporteador" name="BasicHttpBinding_IReporteador" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>