<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <!--<add name="CadenaConexion" connectionString="Data Source=CLUSTERSQL\SIIGMX;Initial Catalog=PRODUCCION;User ID=sise;Password=sistran" />-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=PRD_091215;User ID=desarrollo10;Password=.dev2016"/>-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=UAT;User ID=desarrollo10;Password=.dev2016"/>-->
    <add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=DESA;User ID=desarrollo10;Password=.dev2016"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRecSiniestros"/>
        <binding name="BasicHttpBinding_IGenerales" maxReceivedMessageSize="64000000" maxBufferSize="64000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gmxdfcnd5341lbq/WS_GMX/Reaseguro/Recordatorios/Siniestros/RecSiniestros.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecSiniestros" contract="ws_RecSiniestros.IRecSiniestros" name="BasicHttpBinding_IRecSiniestros"/>
      <endpoint address="http://gmxdfcnd5341lbq/WS_GMX/Generales/Generales.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerales" contract="ws_Generales.IGenerales" name="BasicHttpBinding_IGenerales"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
