<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="CadenaConexion" connectionString="Data Source=CLUSTERSQL\SIIGMX;Initial Catalog=PRODUCCION;User ID=sise;Password=sistran" />
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=PRD_091215;User ID=desarrollo10;Password=.dev2016"/>-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=UAT;User ID=desarrollo10;Password=.dev2016"/>-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=DESA;User ID=desarrollo10;Password=.dev2016"/>-->
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
