
/*--------------------------------------------MASTER PAGE------------------------------------------------*/
#menu_contenedor {
top: 0px; 
position:fixed; 
width: 100%; 
height: 120px; 
text-align: left; 
z-index: 3;
}

#header{
width:auto;
height:90px;
background-image:url(../Images/menu_fondo_pleca.png);
}

#logo{
left:50px;
top:8px;
float:left;
position:absolute;
z-index:100;
}

#titulo{
width:700px;
left:300px;
top:25px;
float:left;
position:absolute;
z-index:100;
text-align:center;
}

#menu_principal{
left:200px;
top:67px;
float:left;
position:absolute;
z-index:100;
color:white;
font-family:Myriad Pro;
font-size:12px;
font-weight:bold;
}

ul#menu {
 min-width: 900px;
 float:left;
 margin-top: 0px;
 list-style-type:none;
 color: white;
}
  

ul#menu li {
 width: auto;  
 margin-left: 12px; 
 float: left;
}

ul#menu li:hover {
 color: rgb(85, 187, 68);
 cursor:pointer;
}

ul#menu li a {
 display: block;
 font-family:Myriad Pro;
 font-weight:bold;
 color: white;
}

ul#menu li a:hover{
 color: rgb(85, 187, 68);
}
  
ul#menu li a:active{
 color: rgb(170, 170, 170);
}

ul#menu ul {
 display: none;
 position: absolute;
 background-color:#003A5D;
 padding: 5px 0px 5px 20px;
 margin: 0;
 box-shadow: 5px 10px 10px #aaa; 
 list-style-type:square;
 width:110px;
 } 

ul#menu ul li{
 float: left;
 top: 18px;
 margin:2% 0;
}

ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
  
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}

#menu_superior {
padding-top: 0px; 
padding-right:10px; 
margin-top: 0px; 
float: right;
min-width: 100px; 
color: white;
}

.separador{
width:2px;
height:23px;
background-image:url(../Images/menu_sep-hz.png);
}

.principal-contenido
{
width:100%;
min-width:1100px;
padding-left:50px;
}

.zona-logo{
width:150px; 
min-width:150px; 
top:120px;
position:fixed;
align-content:center;
}

.zona-form{
width:100%;
min-width:1000px;
padding-left:200px;
top:120px;
padding-top:120px;
}

.zona-form-empty{
width:100%;
min-width:1000px;
top:120px;
padding-top:120px;
}

#cuadro_fecha{
width:115px;
text-align:left;
border-bottom:inset;
border-top:inset;
border-color:#003A5D;
border-width:1px;
padding-top:5px;
padding-bottom:5px;
}
/*--------------------------------------------------------------------------------------------------------*/


#cuadro_login{
border-style:inset;
border-color:#003A5D;
width:480px; 
min-width:450px; 
border-width:1px; 
height:250px; 
min-height:250px;
font-family: Myriad Pro;
}

#Autorizacion{
border-style:inset;
border-color:#003A5D;
width:480px; 
min-width:450px; 
border-width:1px; 
height:250px; 
min-height:250px;
font-family: Myriad Pro;
}


.titulo-pagina{
font-family:Myriad Pro;
font-size:22px;
color:white;
}

.titulo-seccion{
font-family:Myriad Pro;
font-size:15px;
color:#003A5D;
font-weight:bold;
}

.cuadro-subtitulo{
width:100%;
padding-right:10px;
padding-top:5px;
padding-left:15px;
border-bottom-style:inherit;
border-bottom-width:1px;
border-bottom-color:#003A5D;
text-align:left;
background-color:white;
color:#003A5D;
font-size:12px;
font-family:Myriad Pro;
font-weight:bold;
box-shadow: 5px 5px 5px #003A5D; 
border-radius: 0px 0px 20px 20px;  
}

.cuadro-subtitulo-grid{
width:100%;
padding-right:10px;
padding-top:5px;
padding-left:15px;
border-style:inset;
border-width:1px;
border-color:#003A5D;
text-align:center;
background-color:#3B6882;
color:White;
font-weight:bold;
border-radius: 0px 0px 10px 10px;  
font-size:10.5px;
}

.panel-contenido{
padding-top:15px;
padding-left:5px;
padding-bottom:10px;
}

.panel-subcontenido{
padding-top:8px;
padding-left:5px;
}

.cuadro-titulo{
width:100%;
padding-right:10px;
padding-top:5px;
padding-left:15px;
border-bottom-style:inherit;
border-bottom-width:1px;
border-bottom-color:#003A5D;
text-align:center;
background-color:#003A5D;
color:white;
font-size:13px;
font-family:Myriad Pro;
font-weight:bold;
text-align:left;
}

.panel-encabezado{
box-shadow: 5px 10px 10px #aaa; 
border-radius: 0px 0px 20px 20px;  
}

.panel-sombra{
box-shadow: 5px 10px 10px #aaa; 
border-radius: 20px;  
}


.clear {
	height: 0px; clear: both; display: block; visibility: hidden;
}
.padding1 {
	line-height: 0; padding-top: 1px; font-size: 0px;
}v
.padding3 {
	line-height: 0; padding-top: 3px; font-size: 0px;
}
.padding4 {
	line-height: 0; padding-top: 4px; font-size: 0px;
}
.padding5 {
	line-height: 0; padding-top: 5px; font-size: 0px;
}
.padding10 {
	line-height: 0; padding-top: 10px; font-size: 0px;
}
.padding20 {
	line-height: 0; padding-top: 20px; font-size: 0px;
}
.padding30 {
	line-height: 0; padding-top: 30px; font-size: 0px;
}
.padding40 {
	line-height: 0; padding-top: 40px; font-size: 0px;
}
.padding50 {
	line-height: 0; padding-top: 50px; font-size: 0px;
}
.padding100 {
	line-height: 0; padding-top: 100px; font-size: 0px;
}




/*-------------------------------ESLOGAN------------------------------------------------------*/
#inicio_contenidos {
 padding-bottom: 1px; padding-top:120px; font-size: 10pt; margin-right: auto; margin-left: auto; background-color: white; 
}
#inicio_contenidos h3 {
	 font-size: 15pt; margin-bottom: 0px;
}
#inicio_contenidos h2 {
	
}
#inicio_contenidos hr {
	margin-bottom: 20px;
}

#inicio_eslogan {
	width: 100%; text-align: center; padding-bottom: 20px; font-size: 14px; margin-right: auto; margin-left: auto; display: block;
}

.info_negritas {
	color: rgb(0, 85, 102); font-weight: bold;
}
.info_negritas_verdes {
	color: rgb(85, 187, 68); font-weight: bold;
}
/*--------------------------------------------------------------------------------------------*/


/*------------------------PIE DE PAGINA------------------------------------*/
#pie_contenedor {
position:fixed;  
bottom:0; 
width: 100%; 
left:0;  
height: 50px; 
margin-right: auto; 
margin-left: auto; 
z-index: 3;
}

#pie{
width:auto;
height: 50px; 
background-image:url(../Images/pie_fondo.jpg);
bottom: 0px; 
color: rgb(51, 51, 51); 
text-transform: uppercase; 
font-size: 10pt; 
font-weight: bold; 
z-index: 3;
}

#pie_menu {
	width: 1000px; padding-left: 200px; margin-right: auto; margin-left: auto;
}
#pie ul {
	padding-left: 0px; list-style-type: none;
}
#pie li {
	margin: 0px 7px; float: left;
}
#pie a {
	color: rgb(0, 85, 102); line-height: 38px; text-decoration: none;
}
#pie a:hover {
	color: rgb(85, 187, 68);
}
#pie a:active {
	color: rgb(170, 170, 170);
}
#pie .insitu {
	color: rgb(85, 187, 68);
}
.pie_esquina {
	width: 30px;
}
.pie_qs {
	display: none;
}
#pie_qs a {
	text-align: left; padding-left: 45px; display: block; background-image: url("../images/pie_qs_up.png"); background-repeat: no-repeat;
}
#pie_qs a:hover {
	background-image: url("../images/pie_qs_over.png");
}
#pie_qs a:active {
	background-image: url("../images/pie_qs_down.png");
}

a .pie_twitter_ventana {
	display: none;
}
a .pie_facebook_ventana {
	display: none;
}
a .pie_esr_ventana {
	display: none;
}
a .pie_buro_ventana {
	display: none;
}
a .pie_condusef_ventana {
	display: none;
}

a.pie_twitter:hover .pie_twitter_ventana {
	padding: 5px; color: rgb(255, 255, 255); line-height: 12px; font-size: 9pt; font-weight: normal; margin-top: -77px; display: block; position: absolute; background-color: rgb(0, 85, 102);
}
a.pie_facebook:hover .pie_facebook_ventana {
	padding: 5px; color: rgb(255, 255, 255); line-height: 12px; font-size: 9pt; font-weight: normal; margin-top: -77px; display: block; position: absolute; background-color: rgb(0, 85, 102);
}
a.pie_esr:hover .pie_esr_ventana {
	padding: 5px; color: rgb(255, 255, 255); line-height: 12px; font-size: 9pt; font-weight: normal; margin-top: -77px; display: block; position: absolute; background-color: rgb(0, 85, 102);
}
a.pie_buro:hover .pie_buro_ventana {
	padding: 5px; color: rgb(255, 255, 255); line-height: 12px; font-size: 9pt; font-weight: normal; margin-top: -77px; display: block; position: absolute; background-color: rgb(0, 85, 102);
}
a.pie_condusef:hover .pie_condusef_ventana {
	padding: 5px; color: rgb(255, 255, 255); line-height: 12px; font-size: 9pt; font-weight: normal; margin-top: -77px; display: block; position: absolute; background-color: rgb(0, 85, 102);
}
/*-------------------------------------------------------------------------*/




/*-------VENTANAS MODALES------------*/

.modal-progress {
position: absolute; top: 40%; left: 60%; margin: -11px 0 0 -150px; border-radius: 60px;
 text-align:center; vertical-align:central;  color:darkblue;
}

.over-lay {
position: fixed; z-index: 10002; top: 0px; left: 0px; background-color: #f8f8f8; width: 100%; height: 100%;
filter: Alpha(Opacity=95); opacity: 0.5; -moz-opacity: 0.8;
}  

.modal-mensaje {
border-radius: 11px; left: 45%; top: 25%; margin-left: -150px;  position: fixed; z-index: 10001; background-color: rgb(255, 255, 255); 
-moz-border-radius: 11px; -webkit-border-radius: 11px; display:none; overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;
opacity: 1; filter: alpha(opacity=95); -moz-opacity: 0.8; box-shadow: 2px 2px 2px #aaa; border-style:inset; border-width:1px; 
border-color:#9c9c9c;
}

.titulo-modal{
font-size:12px;
font-family: Myriad Pro;
color:white;
font-weight:bold;
}

.texto-mensaje{
font-size:12px;
font-family: Myriad Pro;
color:#9c9c9c; 
overflow-y:scroll;
overflow-x:hidden;
}

.modal-catalogo {
border-radius: 11px; left: 45%; top: 15%; margin-left: -150px;  position: fixed; z-index: 10000; background-color: rgb(255, 255, 255); 
-moz-border-radius: 11px; -webkit-border-radius: 11px;  display:none; overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;
opacity: 1; filter: alpha(opacity=95); -moz-opacity: 0.8; box-shadow: 2px 2px 2px #aaa; border-style:inset; border-width:1px; 
border-color:#9c9c9c;
}

.texto-catalogo{
font-size:10px;
font-family: Myriad Pro;
font-weight:normal;
color:#003A5D;
}

.modal-espera{
border-radius: 60px; left: 55%; top: 40%; margin-left: -150px; position: fixed; z-index: 9999; background-color: rgb(255, 255, 255); 
-moz-border-radius: 11px; -webkit-border-radius: 11px; display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;
opacity: 0.95; filter: alpha(opacity=95); -moz-opacity: 0.8; text-align:center; vertical-align:central; color:darkblue;
}

.modal-poliza{
border-radius: 11px; left: 15%; top: 0%; margin-left: -150px; position: fixed; z-index: 9980; background-color: rgb(255, 255, 255); 
-moz-border-radius: 11px; -webkit-border-radius: 11px; display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;
opacity: 0.95; filter: alpha(opacity=95); -moz-opacity: 0.8; box-shadow: 2px 2px 2px #aaa; border-style:inset; border-width:1px; 
}

.modal-orden{
border-radius: 11px; left: 29.5%; top: 0%; margin-left: -150px; position: fixed; z-index: 9980; background-color: rgb(255, 255, 255); 
-moz-border-radius: 11px; -webkit-border-radius: 11px; display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;
opacity: 0.95; filter: alpha(opacity=95); -moz-opacity: 0.8; box-shadow: 2px 2px 2px #aaa; border-style:inset; border-width:1px; 
}
/*------------------------------------*/



/*------------------------------------ESTILOS CONTROLES------------------------------------------*/
.NoDisplay{
    display:none;
}
.rbl input[type="radio"]
{
   margin-left: 20px;
   margin-right: 5px;
}

.etiqueta-control{
font-size:12px;
font-family: Myriad Pro;
color:#003A5D;
}

.etiqueta-simple{
font-size:12px;
color:#003A5D;
font-family: Myriad Pro;
}

.texto-body{
font-size:11px;
color:#555;
font-family: Myriad Pro;
}

.estandar-control{
display:block;
width:100%;
height:25px;
padding:3px 6px;
font-size:11px;
font-family:Myriad Pro;
line-height:1.42857143;
color:#555;
background-color:#fff;
border:1px solid #ccc;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.estandar-control::-moz-placeholder{color:#999;opacity:1}
.estandar-control:-ms-input-placeholder{color:#999}
.estandar-control::-webkit-input-placeholder{color:#999}
.estandar-control::-ms-expand{background-color:transparent;border:0}
.estandar-control[disabled],.estandar-control[readonly],fieldset[disabled] 
.estandar-control{background-color:#eee;opacity:1}
.estandar-control[disabled],fieldset[disabled] 
.estandar-control{cursor:not-allowed}textarea
.estandar-control{height:auto}

.estandar-control:focus{
border-color:#66afe9;
outline:0;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.estandar-control-grid{
display:block;
width:100%;
height:22px;
padding:3px 6px;
font-size:10px;
font-family:Myriad Pro;
line-height:1.42857143;
color:#003A5D;
border:1px solid #ccc;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.estandar-control-grid:focus{
border-color:#66afe9;
outline:0;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}




.botones{
font-family:'Myriad Pro'; 
font-size:12px; 
height:30px;
width:80px;
background-color:#003A5D;
color:white;
}

.botones.focus, .botones:focus {
color: white;
border-color: red;
}

.botones:hover{color:white;border-color:red}
.botones.active,.botones:active,.open>.dropdown-toggle
.botones.active.focus,.botones.active:focus,.botones.active:hover,.botones:active.focus,.botones:active:focus,.botones:active:hover,.open>.dropdown-toggle
.botones.focus,.open>.dropdown-toggle.botones:focus,.open>.dropdown-toggle
.botones.active,.botones:active,.open>.dropdown-toggle
.botones{background-image:none}.botones.disabled.focus,.botones.disabled:focus,.botones.disabled:hover,.botones[disabled].focus,.botones[disabled]:focus,.botones[disabled]:hover,fieldset[disabled] .botones.focus,fieldset[disabled]
.botones:focus,fieldset[disabled] 
.botones[disabled],.botones[readonly],fieldset[disabled] 
.botones{background-color:#eee;opacity:1}


.boton-mediano{
width:100px; 
}

.boton-largo{
width:150px; 
}

.botones span{
font-family:'Myriad Pro'; 
font-size:12px; 
color:white;
vertical-align:top; 
align-content:center;
width:100%;
}

.botones span img{
vertical-align:top; 
align-content:center;
}

.btn-aceptar{
background-image: url(../Images/aceptar_mini.png);
width: 14px; height: 14px;
}

.btn-cancelar{
background-image: url(../Images/cancel_mini.png);
width: 14px; height: 14px;
}

.btn-buscar{
background-image: url(../Images/buscar_mini.png);
width: 14px; height: 14px;
}

.btn-eliminar{
background-image: url(../Images/delete_mini.png);
width: 14px; height: 14px;
}

.btn-modificar{
background-image: url(../Images/modif_mini.png);
width: 14px; height: 14px;
}

.btn-guardar{
background-image: url(../Images/guardar_mini.png);
width: 14px; height: 14px;
}

.btn-limpiar{
background-image: url(../Images/limpiar_mini.png);
width: 14px; height: 14px;
}

.btn-añadir{
background-image: url(../Images/mas_mini.png);
width: 14px; height: 14px;
}

.btn-quitar{
background-image: url(../Images/quitar_mini.png);
width: 14px; height: 14px;
}

.btn-imprimir{
background-image: url(../Images/print_mini.png);
width: 14px; height: 14px;
}

.btn-filtro{
background-image: url(../Images/filtro_mini.png);
width: 14px; height: 14px;
}

.btn-filtro-verde{
background-image: url(../Images/filtro_mini_verde.png);
width: 14px; height: 14px;
}

.btn-todos{
background-image: url(../Images/todos_mini.png);
width: 14px; height: 14px;
}

.btn-ninguno{
background-image: url(../Images/ninguno_mini.png);
width: 14px; height: 14px;
}

.btn-cargar{
background-image: url(../Images/cargar_mini.png);
width: 14px; height: 14px;
}

/*-------------------------------------------------------------------------------------------*/


/*-------------------------------------GRIDVIEW----------------------------------------------*/
.grid-view{
font-family: Myriad Pro;
color:#003A5D;
font-size:10px;
background-color: #F7F6F3;
}

.header
{
background-color: #3B6882;
font-family: Myriad Pro;
color: White;
border: none 0px transparent;
height: 20px;
text-align: center;
align-content: center;
font-size: 12px;
}

.altern{
background-color:white;
color:#284775;
}

.pager{
background-color:#fff;
padding:2px;
margin:2% auto;
}

.pager a{
margin:auto 1%;
border-radius:50%;
background-color:white;
font-family: Myriad Pro;
font-weight:bold;
padding:5px 10px 5px 10px;
color:#003A5D;
text-decoration:none;
-o-box-shadow:1px 1px 1px #111;
-moz-box-shadow:1px 1px 1px #111;
-webkit-box-shadow:1px 1px 1px #111;
box-shadow:1px 1px 1px #111;  
}

.pager a:hover{
background-color:lightblue;
color:#fff;
font-weight:bold;
}

.pager span{
background-color:#003A5D;
color:white;
font-weight:bold;
-o-box-shadow:1px 1px 1px #111;
-moz-box-shadow:1px 1px 1px #111;
-webkit-box-shadow:1px 1px 1px #111;
box-shadow:1px 1px 1px #111;
border-radius:50%;
padding:5px 10px 5px 10px;
}
/*-------------------------------------------------------------------------------------------*/

.tabla tr > td{
    padding: 2px;
}

.ui-autocomplete { 
    max-height: 250px;
    max-width: 350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    position: fixed;
    z-index: 215000000 !important;
    font-size: 10px;
    font-family: Myriad Pro;
}
